@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

:root {
    --primary-color: rgb(102, 103, 105);
    --yellow: rgb(255, 221, 87);
    --gray: rgb(178, 180, 184);

    --filter-yellow: invert(92%) sepia(42%) saturate(7467%) hue-rotate(316deg) brightness(110%) contrast(102%);
    --filter-white: invert(100%) sepia(50%) saturate(2691%) hue-rotate(177deg) brightness(122%) contrast(101%);
    --filter-primary:  invert(40%) sepia(0%) saturate(853%) hue-rotate(274deg) brightness(101%) contrast(97%); 
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
   background-color: var(--primary-color);
   font-family: 'Poppins', sans-serif;
   color: #ffffff;
}

h2 {
    font-size: min(6vw, 2rem);
}

.container {
    padding: 3rem;
}

section {
   margin: 0 auto 10rem;
}

section:not(:first-child) {
    max-width: 80vw;
}

a,
a:active
 {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

/* scrollbar style */
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px var(--gray); 
}

::-webkit-scrollbar-thumb {
    background: var(--yellow);  
}


header {
    position: sticky;
    top: 0;
    z-index: 50;
    height: 6.25rem;
    padding: 0 3rem;    
    background-color: rgba(102, 103, 105,0.6);;
    backdrop-filter: blur(20px);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

nav {
    display: flex;
    align-items: center;
    height: inherit;
}

.left-nav,
.right-nav {
    display: flex;
    align-items: center;
    width: 100%;
}

.left-nav a:hover,
.right-nav a:not(:last-child):hover {
    color: var(--yellow);
}

.left-nav a:hover img,
.right-nav a:not(:last-child):hover img {
    filter: var(--filter-yellow);
}

.logo {
    width: 2.5em;
}

.logo svg {
    width: 100%; 
    height: 100%;
}

.nav-img {
    width: 2em;
    margin: 0 0.5em;
    filter: var(--filter-white);
}   

.email {
    margin: auto;
}

.email a {
    display: flex;
    align-items: center;
    
}

.right-nav {
    justify-content: end;
}

.right-nav a {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.resume-button {
    position: relative;
    border: 4px solid var(--yellow);
    border-radius: 0.125rem;
    padding: 0.7em 3em;
    margin-left: 0.5em;
}

.span {
    position: absolute;
    left: 0;
    width: 0%;
    z-index: -1;
    height: 100%;
    background-color: var(--yellow);
    transition: width 0.3s;
}

.span-transition {
    width: 100%;    
}  

.hamburger {
    display: none;
    width: 2.5em;
    cursor: pointer;
}

.hamburger img {
    width: 100%;
    margin: auto;
}

.menu {
    display: none;
    position: absolute;
    background-color: var(--gray);
    right: 0;
    top:0;
    width: 50vw;
    height: max(40em, 80vh);
    font-size: 1.56em;
    transform: scale(0, 1);
    transform-origin: right;
    transition: transform 0.18s ease-in-out;
}

.menu-transition {
    transform: scale(1, 1);
}

.menu div:first-child {
    display: flex;
    justify-content: end;
    align-items: center;
    height: 5rem;
    padding: 0 1.56em;
    cursor: pointer;
}

.close {
    width: 1.5em;
}

.menu ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 0 1.56em;
    height: 80%;
}

.menu li {
    height: 3.9em;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.menu li:not(:last-child):hover {
    color: var(--yellow);
}

.menu .resume-button:hover {
    background-color: var(--yellow);
}


/*================= SECTION-HERO =====================*/
#hero {
    position: relative;
    padding: 0 8rem 3rem;
}

.hero-container {
    position: relative;
   
}

.hero-container h1 {
    color: var(--yellow);
    font-weight: 700;
    font-size: clamp(30px, 7vw, 90px);
    line-height: 1.5;
    opacity: 0;
    animation: display 1s ease-out 1.2s forwards;
}

.hero-container h1 span {
    color: #ffffff;
    font-weight: 500;
    font-size: clamp(15px, 2vw, 40px);
}

.social-icons-container {
    position: absolute;
    left: -8rem;
    bottom: 0;
    height: 50%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}

.social-icon {
    width: max(3vw, 30px);
    cursor: pointer;
}

.social-icon:hover img{
    filter: var(--filter-white);
}

.social-icon img {
    width: 100%;
    filter: var(--filter-yellow);
    animation-delay: 1.4s;
}

#hero .line {
    position: absolute;
    left: 1.5vw;
    top: calc(100% - 3rem);
    width: 0.2rem;
    height: 13rem;
    background-color: var(--yellow);
    opacity: 0;
    animation: display 1s ease-out 1.6s forwards;
}


#about {
    max-width: 50vw;
    font-size: 18px;
}

.subheading {
    display: flex;
    align-items: center;
    margin-bottom: 3rem;
}

.subheading div {
    margin: 6px;
}

.subheading-img {
    width: min(6vw, 2rem);
    height: min(6vw, 2rem);
}

.subheading-img img {
    width: 100%;
    height: 100%;
    filter: var(--filter-yellow);
}

.subheading-heading {
    color: var(--yellow);
}

.subheading-line {
    width: 15%;
    height: 0.2rem;
    background-color: var(--yellow);
}

.about-text {
    margin-bottom: 4rem;
}

.about-skills-heading {
    margin-bottom: 2rem;
    font-weight: 500;
}

.about-skills-skills {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2em;
}

.about-skills-name {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    height: 2.6rem;
    background-color: var(--gray);
    border-radius: 0.125rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}



.project-container {
    display: flex;
    align-items: center;
    gap: 4rem;
    margin-bottom: 8rem;
}

.left-project {
    position: relative;
    flex-basis: 100%;
}

.left-project img:first-child {
    width: 100%;
}

.left-project a  {
    position: absolute;
    left: 50%;
    top: 46.5%;
    transform: translate(-50%, -50%);
    width: 81.25%;
    height: 52.35%;
}

.left-project a img {
    width: 100%;
    height: 100%;
}

.left-project a img:hover {
    filter: opacity(50%);
}

.right-project {
    position: relative;
    margin-top: 1rem;
    transform: translateX(-25%);
    text-align: center;
    flex-basis: 100%;
}

.project-desc {
    background-color: var(--gray);
    padding: 1.5rem;
    border-radius: 0.125rem;
    text-align: left;
}

.project-text strong {
    color: var(--primary-color);
}

.project-techs {
    max-width: 70%;
    margin: 12px auto 0;
    display: flex;
    justify-content: space-around;
    color: var(--primary-color);
}

.view-button {
    display: inline-block;
    background-color: var(--yellow);
    padding: 1rem;
    width: min(50%, 10rem);
    margin: 2rem auto;
    text-align: center;
    cursor: pointer;
    border-radius: 0.125rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.view-button:hover {
    transform: scale(1.1);
    transition: transform 0.08s ease-out;
}


footer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: var(--primary-color);
    min-height: 60vh;
    border-radius: 25px 25px 0 0;
    background-color: var(--yellow);
}

footer a .social-icon {
    filter: var(--filter-primary);
}

footer a .social-icon:hover {
    filter: var(--filter-white);
}

footer a .social-icon:first-child {
    margin-right: 30px;
}

footer p {
    font-size: 1.5rem;
}

footer .logo img {
    filter: var(--filter-primary)
}


@media(max-width: 960px) {
header {
        font-size: 10px;
        height: 6rem;
}

#hero {
        padding: 0 4.5rem 3rem;
}

.social-icons-container {
    left: -4.5rem;
}

.about-skills-name {
    font-size: 14px;
    height: 2rem;
}

.project-container {
    flex-direction: column;
}

.left-project {
    max-width: 70%;
    max-height: 70%;
}

.right-project {
    max-width: 70%;
    max-height: 70%;
    margin-top: 0;
}

.view-button {
    margin: 2rem auto;
}
}

@media (max-width: 650px) {  
section:not(:first-child) {
    margin: 0 auto 10rem;
}

h2 {
    font-size: 1.5rem;
}

.container {
    padding: 0 1.5rem;
}

header {
    height: 5rem;
    padding: 0 1.5rem;
}
.email {
    display: none;
}

.right-nav {
    display: none;
}

.hamburger {
    display: inline-block;
}

.menu {
    display: inline-block;
}

#hero {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 5rem auto;
}

.hero-container h1 {
    font-size: 38;
}

.hero-container h1 span {
    font-size: 20px;
}

.social-icons-container {
    display: none;
}

.line{
    display: none;
}

#about {
    max-width: 70vw;
    font-size: 16px;
}

.about-skills-name {
    font-size: 12px;
}

.left-project {
    max-width: 100%;
}
    
.right-project {
    max-width: 100%;
}

.project-desc {
    padding: 0.5rem;
}

.project-techs {
    margin: 0;
    max-width: none;
    
}  
}


.animate-down  {
    opacity: 0;
    transform: translateY(-100%);
    animation: animate-down 1s ease-out forwards;
}

.hidden {
    opacity: 0;
}

.show {
    animation: display 1s ease-out forwards;
}

.left-nav div:nth-child(2),
footer .social-icon:first-child {
    animation-delay: 200ms;
}

.right-nav a:first-child,
.hamburger,
footer .social-icon:nth-child(2) {
    animation-delay: 400ms;
}

.right-nav a:nth-child(2),
footer div:not(:first-child) {
   animation-delay:  600ms;
}

.right-nav a:nth-child(3) {
    animation-delay: 800ms;
}

@keyframes animate-down {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes display {
    to {
        opacity: 1;
        transform:translateX(0);
    }
}

