@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

:root {
    /* COLORS */
    --primary-color: rgb(102, 103, 105);
    --yellow: rgb(255, 222, 89);
    --gray: rgb(178, 180, 184);
    /* FONT-SIZES */
    --small-font: 2.5rem;
    --big-font: 5rem;
}

html {
    /* font-size: clamp(10px, 16px, 18px); */
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* scrollbar style */
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px var(--gray); 
}

::-webkit-scrollbar-thumb {
    background: var(--yellow);  
}


body {
   background-color: var(--primary-color);
   font-family: 'Poppins', sans-serif;
   color: #ffffff;
   overflow-x: hidden;
}

h2 {
    font-size: min(6vw, 2rem);
}

.container {
    padding: 3rem;
}

section {
   /* margin-bottom: 10rem; */
   margin: 0 auto 10rem;
}

section:not(:first-child) {
    max-width: 80vw;
}





a,
a:active
 {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

/*=================== ANIMATION CLASSES ==============*/
/* .hidden {
    opacity: 0;
    transform: translateY(-100%);
    transition: all 1s;
}

.show {
    opacity: 1;
    transform: translateY(0);
} */
.animate-down {
    opacity: 0;
    transform: translateY(-100%);
    animation: animate-down 1s ease-out forwards;
}

.hidden {
    opacity: 0;
}

.show {
    animation: display 1s ease-out forwards;
}

.left-nav div:nth-child(2),
footer .social-icon:first-child
{
    animation-delay: 200ms;
}

.right-nav a:first-child,
.hamburger,
footer .social-icon:nth-child(2)
{
    animation-delay: 400ms;
}

.right-nav a:nth-child(2),
footer div:not(:first-child)
{
   animation-delay:  600ms;
}

.right-nav a:nth-child(3)
{
    animation-delay: 800ms;
}

/* .social-icons-container .social-icon:first-child {
    transition-delay: 1s;
}

.social-icons-container .social-icon:nth-child(2) {
    transition-delay: 1.2s;
} */
@keyframes animate-down {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes display {
    to {
        opacity: 1;
        transform:translateX(0);
    }
}

/* #hero .vertical-line {
    transition-delay: 1.6s;
} */



/*=================== HEADER-NAV ==============*/
header {
    position: sticky;
    top: 0;
    z-index: 50;
    height: 6.25rem;
    padding: 0 3rem;    
    background-color: rgba(102, 103, 105,0.6);;
    backdrop-filter: blur(50px);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

nav {
    display: flex;
    align-items: center;
    height: inherit;
}

.left-nav,
.right-nav {
    display: flex;
    align-items: center;
    width: 100%;
}

.left-nav a:hover {
    color: var(--yellow);
}

.left-nav a:hover img {
    filter: invert(92%) sepia(42%) saturate(7467%) hue-rotate(316deg) brightness(110%) contrast(102%);
}

.logo {
    width: 2.5em;
}

.logo img {
    width: 100%;    
    filter: invert(92%) sepia(42%) saturate(7467%) hue-rotate(316deg) brightness(110%) contrast(102%);
}

.nav-img {
    width: 2em;
    margin: 0 0.5em;
    filter: invert(100%) sepia(50%) saturate(2691%) hue-rotate(177deg) brightness(122%) contrast(101%);
}   

.email {
    margin: auto;
}

.email a {
    display: flex;
    align-items: center;
    
}

.right-nav {
    justify-content: end;
}

.right-nav a {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.right-nav a:not(:last-child):hover {
    color: var(--yellow);
}

.right-nav a:not(:last-child):hover img {
    filter: invert(92%) sepia(42%) saturate(7467%) hue-rotate(316deg) brightness(110%) contrast(102%);
}

.resume-button {
    position: relative;
    border: 4px solid var(--yellow);
    padding: 0.7em 3em;
    margin-left: 0.5em;
}



.span {
    position: absolute;
    left: 0;
    width: 0%;
    z-index: -1;
    height: 100%;
    background-color: var(--yellow);
    transition: width 0.3s;
}

.span-transition {
    width: 100%;    
}

.hamburger {
    display: none;
    width: 2.5em;
    cursor: pointer;
}

.hamburger img {
    width: 100%;
    margin: auto;
}

.menu {
    display: none;
    position: absolute;
    background-color: var(--gray);
    right: 0;
    top:0;
    width: 50vw;
    height: max(40em, 80vh);
    font-size: 1.56em;
    transform: translateX(100%);
    transition: transform 0.08s ease-out;

}

.menu-transition {
    transform: translateX(0%);
}

.menu div:first-child {
    display: flex;
    justify-content: end;
    align-items: center;
    height: 5rem;
    padding: 0 1.56em;
    cursor: pointer;
}

.close {
    width: 1.5em;
}

.menu ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 0 1.56em;
    height: 80%;
}

.menu li {
    height: 3.9em;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.menu li:not(:last-child):hover {
    color: var(--yellow);
}

.menu .resume-button:hover {
    background-color: var(--yellow);
}


/*================= SECTION-HERO =====================*/

#hero {
    position: relative;
    padding: 0 8rem 3rem;
}

.hero-container {
    position: relative;
   
}

.hero-container h1 {
    color: var(--yellow);
    font-weight: 700;
    font-size: clamp(30px, 7vw, 90px);
    line-height: 1.5;
    opacity: 0;
    animation: display 1s ease-out 1.2s forwards;
}



.hero-container h1 span {
    color: #ffffff;
    font-weight: 500;
    font-size: clamp(15px, 2vw, 40px);
}



.social-icons-container {
    position: absolute;
    left: -8rem;
    bottom: 0;
    height: 50%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}

.social-icon {
    width: max(3vw, 30px);
    cursor: pointer;
}

.social-icon:hover img{
    filter: invert(100%) sepia(1%) saturate(7422%) hue-rotate(179deg) brightness(88%) contrast(56%);
}

.social-icon img {
    width: 100%;
    filter: invert(92%) sepia(42%) saturate(7467%) hue-rotate(316deg) brightness(110%) contrast(102%);
    animation-delay: 1.4s;
    /* animation: display 1s ease-out 1.4s forwards; */
}


#hero .vertical-line {
    position: absolute;
    left: 1.5vw;
    top: calc(100% - 3rem);
    width: 0.2rem;
    height: 13rem;
    background-color: var(--yellow);
    opacity: 0;
    animation: display 1s ease-out 1.6s forwards;
}




/*================= SECTION-ABOUT =====================*/

#about {
        max-width: 70vw;
        /* margin: 0 auto; */
    
}
.subheading {
    display: flex;
    align-items: center;
    /* padding: 0 12rem; */
    /* max-width: 35vw; */
    /* margin:auto; */
    margin-bottom: 3rem;
}

.subheading div {
    margin: 6px;
}

.subheading-img {
    width: min(6vw, 2rem);
    height: min(6vw, 2rem);
}

.subheading-img img {
    width: 100%;
    height: 100%;
    filter: invert(92%) sepia(42%) saturate(7467%) hue-rotate(316deg) brightness(110%) contrast(102%);
}

.subheading-heading {
    color: var(--yellow);
}

.subheading-line {
    width: 15%;
    height: 0.2rem;
    background-color: var(--yellow);
}

.about-text p {
    margin-bottom: 2rem;
}

.about-container {
    /* position: relative; */
    display: flex;
    /* padding: 0 8rem; */
    /* max-width: 70vw;
    margin: 0 auto; */
    
}

.left-about, 
.right-about {
    width: 100%;
}

.left-about {
    margin-right: 4rem;
}

/* .about-skills {
    margin-top: 8.25rem;
} */

.about-skills-heading {
    margin-bottom: 2rem;
    font-weight: 500;
    /* font-size: 1.2rem; */
}

.about-skills-skills {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.about-skills-name {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    margin-right: 1rem;
    padding: 5px;
    height: 2.6rem;
    background-color: var(--gray);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.vertical-line-container {
    position: relative;
}

.about-container .vertical-line {
    position: absolute;
    bottom: -10rem;
    right: 0;
    background-color: var(--yellow);
    width: 0.2rem;
    height: 10rem;
}


/*================= SECTION-PROJECTS =====================*/
.project-container {
    display: flex;
    align-items: center;
}

.left-project {
    position: relative;
    margin-right: 4rem;
    width: 100%;
    /* height: 20rem; */
}

.left-project img:first-child {
    width: 100%;
    height: 100%;
}

.left-project a  {
    position: absolute;
    left: 50%;
    top: 46.5%;
    transform: translate(-50%, -50%);
    width: 81.25%;
    height: 52.35%;
}

.left-project a img {
    width: 100%;
    height: 100%;
}

.left-project a img:hover {
    opacity: 0.5;
}

.right-project {
    margin-top: 1rem;
    transform: translateX(-25%);
}

.project-desc {
    background-color: var(--gray);
    padding: 1.5rem;
}

.project-techs {
    max-width: 70%;
    margin: 12px auto 0;
    display: flex;
    justify-content: space-around;
    color: var(--yellow);
}

.view-button {
    background-color: var(--yellow);
    padding: 1rem;
    width: min(50%, 10rem);
    margin: 1rem auto;
    text-align: center;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.view-button:hover {
    transform: scale(1.1);
    transition: transform 0.08s ease-out;
}

/*================= FOOTER =====================*/
footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: var(--primary-color);
    min-height: 60vh;
    border-radius: 25px 25px 0 0;
    background-color: var(--yellow);
}

footer a .social-icon {
    filter: invert(40%) sepia(0%) saturate(853%) hue-rotate(274deg) brightness(101%) contrast(97%);
}

footer a .social-icon:hover {
    filter: invert(100%) sepia(1%) saturate(7422%) hue-rotate(179deg) brightness(88%) contrast(56%);
}
footer a .social-icon:first-child {
    margin-right: 30px;
}

footer p {
    font-size: 1.5rem;
}

footer .logo img {
    filter: invert(40%) sepia(0%) saturate(853%) hue-rotate(274deg) brightness(101%) contrast(97%);
}




/*======================== MEDIA QUERIES ===========================  */
@media(max-width: 960px) {
    /* html {
        font-size: 10px;
    } */

    header {
        font-size: 10px;
        height: 6rem;
    }

    #hero {
        padding: 0 4.5rem 3rem;
    }

.social-icons-container {
    left: -4.5rem;
}

.left-about {
    margin-right: 2rem;
}

.about-skills-name {
    font-size: 10px;
    height: 2rem;
}

.project-container {
    flex-direction: column;
}

.left-project {
    margin-right: 0;
    max-width: 70%;
    max-height: 70%;
}

.right-project {
    max-width: 70%;
    max-height: 70%;
    margin-top: 0;
}

.view-button {
    margin: 2rem auto;
}


}

@media (max-width: 650px) {
    
    section:not(:first-child) {
        margin: 0 auto 10rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    .container {
        padding: 0 1.5rem;
    }

    header {
        height: 5rem;
        padding: 0 1.5rem;
    }
    .email {
        display: none;
    }

    .right-nav {
        display: none;
    }

    .hamburger {
        display: inline-block;
    }

    .menu {
        display: inline-block;
    }

    #hero {
        display: flex;
        align-items: center;
       /* min-height: 100vh; */
        padding: 0;
        margin: 5rem auto;
    }

    .hero-container h1 {
        font-size: 38;
    }

    .hero-container h1 span {
        font-size: 20px;
    }

    .social-icons-container {
        display: none;
    }

    .vertical-line{
        display: none;
    }

    .about-container {
        flex-direction: column;
    }

    .about-skills-name {
        font-size: 12px;
    }

    /* section#projects {
        max-width: none;
    } */

    .project-container {
        flex-direction: column;
    }

    .left-project {
        max-width: 100%;
    }
    
    .right-project {
        max-width: 100%;
    }

    .project-desc {
        padding: 0.5rem;
    }

    .project-techs {
        margin: 0;
        max-width: none;
    
    }

  
}